
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 1200px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

a, .btn{
    transition: all 300ms ease;
}
#desktop-nav{
    width: 1200px;
    margin: 0 auto;
}
nav, .nav-links{
    display: flex;
    width: 100%;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

.logo{
    /* margin-right: 25rem; */
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}

#profile-section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .p_section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  .p_section__text {
    align-self: center;
    text-align: center;
  }
  
  .p_section__text p {
    font-weight: 600;
  }
  
  .p_section__text__p1 {
    text-align: center;
  }
  
  .p_section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  .my-name {
    font-size: 3rem;
    text-align: center;
  }
  
  #social-media-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  /* ICONS */
  
  .icon {
    cursor: pointer;
    height: 2rem;
  }
  
  /* BUTTONS */
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
    background: white;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }

  .about-p1, .explore-p1, .browse-p1,.contact-p1{
    text-align: center;
  }
  .about-p2, .explore-p2,.browse-p2,.contact-p2{
    font-weight: 600;
    color: black;
    text-align: center;
    font-size: 3rem;
  }
.moreabout{
    margin-bottom: 4rem;
}

.about-container{
    margin-bottom: 4rem;
    width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
    padding-top: 5rem;
}
.about-subcontainer,.experience-subcontainer{
    display: flex;
    gap: 4rem;
}

.aboutus-pic img{
    width: 400px;
    border-radius: 2rem;
}
.experience-group{
    border: 0.1rem solid black;
    border-color: rgb(163, 163, 163);
    text-align: center;
    padding: 1.5rem;
    width: 300px;
    border-radius: 2rem;
    box-shadow: 2px 6px 10px 1px rgba(1,1,1,0.2);
}
.experience-group:hover{
    box-shadow: 2px 3px 10px 1px rgba(1,1,1,0.2),-2px -3px 10px 1px rgba(1,1,1,0.2);
}
.experience-group img{
    text-align: center;
    height: 2em;
    cursor: pointer;
}
.about-exp-edu-container{
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    gap: 2rem;
    margin-top: 3rem;
}
.experience-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10rem;
    padding-top: 5rem;
}
.experience-subcontainer{
    margin-top: 3rem;
}
.exp-container-group{
    display: flex;
    gap: 5rem;
}

.experience1-group{
    border: 0.1rem solid black;
    border-color: rgb(163, 163, 163);
    text-align: center;
    padding: 1.5rem;
    width: 500px;
    border-radius: 2rem;
    height: 350px;
    box-shadow: 2px 6px 10px 1px rgba(1,1,1,0.2);
}
.experience1-group:hover{
    box-shadow: 2px 6px 10px 1px rgba(1,1,1,0.2),-2px -3px 10px 1px rgba(1,1,1,0.2);
}
.article-container{
    display: flex;
    flex-wrap: wrap;
   
}
.article-container article{
    flex-basis: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.exp-title{
    font-size: 1.75rem;
}
article{
    display: flex;
    justify-content: space-around;
}
.projects-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 13rem;
    padding-top: 2rem;
}
.project-group{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    width: 300px;
    box-shadow: 2px 6px 10px 1px rgba(1,1,1,0.2);
}
.project-group:hover{
    box-shadow: 2px 6px 10px 1px rgba(1,1,1,0.2),-2px -3px 10px 1px rgba(1,1,1,0.2);
}
.project-group img{
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
}
.project-group img:hover{
    width: 305px;
   
}
.projects-subcontainer{
    width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%;
}
.project-group h3{
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.contact-container{
    margin-top: 8rem;
    margin-bottom: 2rem;
    padding-top: 5rem;
}
.contact-bar{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    width: 500px;
    margin: 0 auto;
    padding: 0.5rem;
    margin-bottom: 4rem;
}
.contact-bar:hover{
    box-shadow: 2px 3px 10px 1px rgba(1,1,1,0.2),-2px -3px 10px 1px rgba(1,1,1,0.2);
    width: 530px; 
}
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-bar a{
    font-size: 19px;
}
.contact-bar a:hover{
    font-size: 21px;
}
.email-icon{
    height: 2.5rem;
}
.contact-icon{
    cursor: default;
}
form input, form textarea {
    display: block;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 10px;
}

form input:hover, form textarea:hover{
    background-color:black ;
    color: white;
    transition: all 700ms ease;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form textarea {
    resize: none;
}
.contact-form label {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
}

.contact-form input {
    width: 600px; 
    padding: 5px;
    margin-bottom: 10px;
}
.btn-form{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #000;
    padding: 12px 50px;
    border-radius: 10px;
}
.btn-form:hover{
    color: black;
    background: white;
    padding: 12px 50px;
    border-radius: 10px;
    transition: all 400ms ease;
}

footer{
    margin-top: 5rem;
    height: 26vh;
    text-align: center;
}
